DATABASE_URL=postgresql://olimpiadas            # Altere para o URL do seu banco de dados PostgreSQL
SECRET_KEY=chave-teste-temporaria-sem-acentos   # Altere para uma chave secreta forte e única em produção
ALGORITHM=HS256                                 # Algoritmo de criptografia para tokens JWT
ACCESS_TOKEN_EXPIRE_MINUTES=15                  # Tempo de expiração do token de acesso em minutos
REFRESH_TOKEN_EXPIRE_DAYS=7                     # Tempo de expiração do token de atualização em dias
ENVIRONMENT=production                          #<<== Altere para "production" em produção
ALLOWED_ORIGINS=["http://"]                     # Lista de origens permitidas para CORS, altere para os domínios do frontend em produção
UPLOAD_PATH=/var/www/olimpiadas/uploads         # Caminho para armazenar arquivos enviados
API_BASE_URL=                                   # URL base da API, altere para http://
# E‑mail 
MAIL_FROM=                 # Endereço de e-mail do remetente para envio de e-mails
MAIL_STARTTLS=True         # Habilitar STARTTLS para segurança de e-mail
MAIL_SSL_TLS=False         # Habilitar SSL/TLS para segurança de e-mail
BREVO_API_KEY=             # Chave de API para integração com Brevo (Sendinblue)          
FRONTEND_URL=              # URL do frontend, altere para http:// em produção
